:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color:  #11071F;
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.Primary-color{
  color: #9857D3;
}
